html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
}

.container {
  margin-top: 40%;
  margin-left: 40%;
  color: white;
  font-family: '나눔스퀘어OTF_ac ExtraBold';
  display: block;
  max-width: 1500px;
}

.home__logo {
  display: block;
  font-size: 50px;
}
.home__desc {
  display: block;
  font-size: 30px;
}
